<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar20240901.be.base.web.mapper.live.BaseLiveRoomUserMapper">
  <select id="checkRoomUser" resultType="java.lang.Long">
    SELECT a.id
    FROM base_live_room_user a
           LEFT JOIN base_socket_ref_user b ON b.id = a.socket_ref_user_id
    WHERE b.id IS NULL
  </select>

  <select id="myPage"
    resultType="com.kar20240901.be.base.web.model.vo.live.BaseLiveRoomUserSelfPageVO">
    SELECT a.id,
           a.user_id,
           a.socket_ref_user_id AS socketRefUserId,
           a.create_time        AS createTime,
           b.nickname,
           b.avatar_file_id     AS avatarFileId,
           a.first_blob_str     AS firstBlobStr
    FROM base_live_room_user a
           LEFT JOIN base_user_info b ON b.id = a.user_id
    WHERE b.id IS NOT NULL
      AND a.room_id = #{dto.roomId}
    <if test="dto.userId != null">
      AND a.user_id = #{dto.userId}
    </if>

    <if test="dto.searchKey != null and dto.searchKey != ''">
      AND b.nickname LIKE CONCAT('%', #{dto.searchKey}, '%')
    </if>
  </select>

  <select id="infoById"
    resultType="com.kar20240901.be.base.web.model.vo.live.BaseLiveRoomUserSelfInfoByIdVO">
    SELECT a.id,
           a.user_id,
           a.socket_ref_user_id AS socketRefUserId,
           a.create_time        AS createTime,
           b.nickname,
           b.avatar_file_id     AS avatarFileId
    FROM base_live_room_user a
           LEFT JOIN base_user_info b ON b.id = a.user_id
    WHERE b.id IS NOT NULL
      AND a.id = #{id}
  </select>
</mapper>