<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar20240901.be.base.web.mapper.im.BaseImGroupMapper">
  <select id="myPage" resultType="com.kar20240901.be.base.web.model.vo.im.BaseImGroupPageVO">
    SELECT IF(c.name = '', b.name, c.name) AS groupShowName,
           b.id                            AS groupId,
           b.uuid                          AS groupUuid,
           c.session_id                    AS sessionId,
           b.avatar_file_id                AS avatarFileId
    <if test="dto.manageQueryFlag != null">
      ,
        b.create_time                                   AS createTime,
        a.manage_flag                                   AS manageFlag,
        IF(b.belong_id = #{currentUserId}, TRUE, FALSE) AS belongFlag,
        b.bio                                           AS bio,
        a.mute_flag                                     AS muteFlag,
        b.normal_mute_flag                              AS normalMuteFlag,
        b.manage_mute_flag                              AS manageMuteFlag,
        c.not_disturb_flag                              AS notDisturbFlag
    </if>

    FROM base_im_group_ref_user a

           LEFT JOIN base_im_group b ON b.id = a.group_id

           LEFT JOIN base_im_session_ref_user c
                     ON c.session_id = b.session_id AND c.user_id = a.user_id

    WHERE a.user_id = #{currentUserId}

      AND b.id IS NOT NULL

      AND c.session_id IS NOT NULL

    <if test="dto.searchKey != null and dto.searchKey != ''">
      AND (
        b.name LIKE CONCAT('%', #{dto.searchKey}, '%')
          OR c.name LIKE CONCAT('%', #{dto.searchKey}, '%')
          OR b.uuid LIKE CONCAT('%', #{dto.searchKey}, '%')
        )
    </if>

    <if test="dto.onlyQueryBelongFlag != null and dto.onlyQueryBelongFlag">
      AND b.belong_id = #{currentUserId}
    </if>

    <if test="dto.groupId != null">
      <choose>
        <when test="dto.backwardFlag == null">
          AND b.id = #{dto.groupId}
        </when>

        <when test="dto.backwardFlag">
          AND b.id <![CDATA[>]]> #{dto.groupId}
        </when>

        <otherwise>
          AND b.id <![CDATA[<]]> #{dto.groupId}
        </otherwise>
      </choose>
    </if>

    ORDER BY b.id DESC
  </select>

  <select id="dictList" resultType="com.kar20240901.be.base.web.model.vo.base.DictVO">
    SELECT IF(c.name = '', b.name, c.name) AS name,
           b.id                            AS id,
           b.uuid                          AS str1,
           b.avatar_file_id                AS l1

    FROM base_im_group_ref_user a

           LEFT JOIN base_im_group b ON b.id = a.group_id

           LEFT JOIN base_im_session_ref_user c
                     ON c.session_id = b.session_id AND c.user_id = a.user_id

    WHERE a.user_id = #{currentUserId}

      AND b.id IS NOT NULL

      AND c.session_id IS NOT NULL

      AND (b.belong_id = #{currentUserId} OR a.manage_flag = TRUE)

    ORDER BY b.id DESC
  </select>
</mapper>