<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar20240901.be.base.web.mapper.im.BaseImGroupMapper">
  <select id="myPage" resultType="com.kar20240901.be.base.web.model.vo.im.BaseImGroupPageVO">
    SELECT IF(c.name = '', b.name, c.name) AS groupName,
           a.group_id                      AS groupId,
           c.session_id                    AS sessionId,
           c.avatar_url                    AS avatarUrl
    FROM base_im_group_ref_user a
           LEFT JOIN base_im_group b ON b.id = a.group_id
           LEFT JOIN base_im_session_ref_user c
                     ON c.session_id = b.session_id AND c.user_id = a.user_id
    WHERE a.user_id = #{currentUserId}
      AND b.id IS NOT NULL
    <if test="dto.groupId != null">
      AND a.group_id = #{dto.groupId}
    </if>
    <if test="dto.searchKey != null and dto.searchKey != ''">
      AND (
        b.name LIKE CONCAT('%', #{dto.searchKey}, '%')
          OR c.name LIKE CONCAT('%', #{dto.searchKey}, '%')
          OR a.group_id LIKE CONCAT('%', #{dto.searchKey}, '%')
        )
    </if>
    ORDER BY a.create_time DESC
  </select>
</mapper>