<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar20240901.be.base.web.mapper.im.BaseImGroupRefUserMapper">
  <select id="myPage" resultType="com.kar20240901.be.base.web.model.vo.im.BaseImGroupRefUserPageVO">
    SELECT a.user_id                                         AS userId,
           b.bio                                             AS bio,
           b.uuid                                            AS uuid,
           IF(a.my_nickname = '', b.nickname, a.my_nickname) AS nickname,
           b.avatar_file_id                                  AS avatarFileId,
           a.mute_flag                                       AS muteFlag,
           a.manage_flag                                     AS manageFlag,
           IF(c.belong_id = a.user_id, TRUE, FALSE)          AS belongFlag,
           IF(d.id IS NULL, FALSE, TRUE)                     AS blockFlag,
           a.create_time                                     AS createTime

    FROM base_im_group_ref_user a

           LEFT JOIN base_user_info b ON b.id = a.user_id

           LEFT JOIN base_im_group c ON c.id = a.group_id

           LEFT JOIN base_im_block d
                     ON d.source_id = a.group_id AND d.source_type = #{sourceType} AND
                        d.user_id = a.user_id

    WHERE a.group_id = #{dto.groupId}

      AND b.id IS NOT NULL

    <if test="dto.searchKey != null and dto.searchKey != ''">
      AND (a.my_nickname LIKE CONCAT('%', #{dto.searchKey}, '%')
        OR b.nickname LIKE CONCAT('%', #{dto.searchKey}, '%')
        OR b.uuid LIKE CONCAT('%', #{dto.searchKey}, '%'))
    </if>
  </select>
</mapper>