<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar20240901.be.base.web.mapper.im.BaseImFriendMapper">
  <select id="myPage" resultType="com.kar20240901.be.base.web.model.vo.im.BaseImFriendPageVO">
    SELECT a.session_id                        AS sessionId,
           b.id                                AS friendUserId,
           b.uuid                              AS friendShowId,
           IF(c.name = '', b.nickname, c.name) AS friendShowName,
           c.avatar_url                        AS avatarUrl,
           a.id                                AS imFriendId
    <if test="dto.manageQueryFlag != null">
      ,
        b.bio              AS bio,
        a.create_time      AS friendCreateTime,
        c.not_disturb_flag AS notDisturbFlag
    </if>

    FROM base_im_friend a

           LEFT JOIN base_user_info b ON b.id = a.friend_id

           LEFT JOIN base_im_session_ref_user c
                     ON c.target_id = a.friend_id AND c.user_id = a.belong_id

    WHERE a.belong_id = #{currentUserId}

      AND b.id IS NOT NULL

      AND c.session_id IS NOT NULL

    <if test="dto.searchKey != null and dto.searchKey != ''">
      AND (
        b.nickname LIKE CONCAT('%', #{dto.searchKey}, '%')
          OR c.name LIKE CONCAT('%', #{dto.searchKey}, '%')
          OR b.uuid LIKE CONCAT('%', #{dto.searchKey}, '%')
        )
    </if>

    <if test="dto.imFriendId != null">
      <choose>
        <when test="dto.backwardFlag == null">
          AND a.id = #{dto.imFriendId}
        </when>

        <when test="dto.backwardFlag">
          AND a.id <![CDATA[>]]> #{dto.imFriendId}
        </when>

        <otherwise>
          AND a.id <![CDATA[<]]> #{dto.imFriendId}
        </otherwise>
      </choose>
    </if>

    ORDER BY a.id DESC
  </select>
</mapper>