<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kar20240901.be.base.web.mapper.im.BaseImSessionRefUserMapper">
  <select id="myPage"
          resultType="com.kar20240901.be.base.web.model.vo.im.BaseImSessionRefUserPageVO">
    SELECT a.session_id,
           a.name,
           a.avatar_url,
           a.target_id,
           a.target_type

    FROM base_im_session_ref_user a

           LEFT JOIN base_im_session b ON b.id = a.session_id

    WHERE a.show_flag = TRUE

      AND a.user_id = #{currentUserId}

    ORDER BY b.last_receive_ts DESC
  </select>

  <select id="queryUnReadCount" resultType="java.util.Map">
    SELECT a.session_id, LEAST(99, COUNT(*)) AS unReadCount

    FROM base_im_session_ref_user a
           LEFT JOIN base_im_session_content b ON b.session_id = a.session_id

    WHERE a.user_id = #{currentUserId}
      AND b.enable_flag = TRUE
      AND b.create_ts <![CDATA[>]]> a.last_open_ts

    GROUP BY a.session_id
  </select>
</mapper>